# Logs
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Vs code
.vscode/


# Hardhat artifacts
artifacts/
cache/

# Build artifacts
dist/
bin/

# typechain artifacts
typechain/
